@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  border: 8px solid #ffb84c;
  border-radius: 12px;
}

.container {
  max-width: 1280px;
  width: 96%;
  margin: 0 auto;
}

h1, h2, h3 {
  margin: 0;
}

.btn {
  display: inline-block;
  color: #fff;
  margin-bottom: 12px;
  padding: 8px 12px;
  text-decoration: none;
  border: 2px solid;
  border-radius: 8px;
}

.contact {
  background-color: #a7727d;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 12px;
}

.main__title {
  color: #fff;
  font-size: 32px;
  margin-bottom: 12px;
  padding: 12px;
  text-align: center;
}

.contact__information {
  color: #fff;
  margin-bottom: 36px;
  border-bottom: 2px solid #ffb84c;
}

.contact__information:nth-child(2) {
  line-height: 1.6;
}

.social {
  margin: 24px 0;
}

.form {
  padding: 12px;
}

.form__tag {
  display: block;
  color: #fff;
  margin-bottom: 12px;
}

.form__gate {
  width: 100%;
  margin-bottom: 12px;
  padding: 12px;
  border: none;
  border-radius: 8px;
}

.form__textarea {
  height: 180px;
  resize: none;
}

.btn--form {
  background-color: #4e6c81;
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .contact__information {
    margin-right: -24px;
    border-bottom: none;
    border-right: 2px solid #ffb84c;
  }
}
.footer {
  background-color: #4e6c81;
  margin-bottom: 24px;
  color: #fff;
  padding: 12px;
  border-radius: 12px;
}

@media (min-width: 576px) {
  .footer {
    text-align: center;
  }
  .foot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }
}
.footer [class*=icon-]::before {
  position: relative;
  top: 4px;
  right: 6px;
}

.footer [class*=icon-] {
  color: #fff;
  text-decoration: none;
}

.footer__copy {
  text-align: center;
}

.expo {
  background-color: #a7727d;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 12px;
}

.expo__title {
  color: #fff;
  font-size: 32px;
  margin-bottom: 12px;
  padding: 12px;
  text-align: center;
}

@media (min-width: 480px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
}
@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
.gallery__image {
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 12px;
  cursor: pointer;
  transition: all 0.5s;
}

.gallery__image:hover {
  transform: scale(1.02);
}

.gallery__image--big {
  height: 400px;
}

.gallery__image--small {
  height: 200px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  display: none;
}

.modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal__image {
  width: 50%;
}

.modal__btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #4e6c81;
  color: #ffb84c;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 28px;
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
}

.modal--open {
  display: block;
}

.banner {
  position: relative;
  z-index: -1;
  margin-top: -120px;
  margin-bottom: 12px;
}

.banner::before {
  position: absolute;
  top: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.banner__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.banner__text {
  color: #fff;
  text-align: center;
}

@media (min-width: 480px) {
  .banner {
    z-index: -1;
    margin-top: -212px;
  }
  .banner__content {
    top: 65%;
  }
}
@media (min-width: 768px) {
  .banner__text {
    font-size: 24px;
  }
}
.header {
  margin-bottom: 12px;
}

.header__logo {
  color: #a7727d;
  font-size: 36px;
  padding: 12px;
}

.info__phone {
  background-color: #a7727d;
  color: #fff;
  padding: 12px;
  border-radius: 8px;
}

.info__address {
  margin: 0;
  padding: 12px;
}

.header [class*=icon-]::before {
  position: relative;
  top: 2px;
  right: 6px;
}

@media (min-width: 480px) {
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
  .header__logo {
    color: #fff;
    padding: 0;
  }
  .header__info {
    text-align: right;
  }
  .info__phone {
    background: none;
    padding: 12px;
  }
  .info__address {
    color: #fff;
    padding: 0;
  }
}
.color {
  background-color: #a7727d;
  color: #fff;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 12px;
}

.color__title {
  font-size: 32px;
}

.color__text {
  line-height: 1.6;
}

.description {
  background-color: #4e6c81;
  color: #fff;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 12px;
}

.right {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 480px) {
  .description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
  .couple__text {
    font-size: 14px;
    line-height: 1.6;
  }
}
@media (min-width: 768px) {
  .description__couple:nth-child(2) {
    width: 80%;
    margin: 0 auto;
    padding: 36px;
  }
  .couple__text {
    font-size: 16px;
    line-height: 2;
  }
}
@media (min-width: 992px) {
  .couple__title {
    font-size: 24px;
  }
  .couple__text {
    font-size: 20px;
    line-height: 3;
  }
}
.specials {
  background-color: #a7727d;
  color: #fff;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 12px;
}

.specials__title {
  font-size: 32px;
  margin-bottom: 12px;
  padding: 12px;
  text-align: center;
}

.special__title, .special__price {
  font-size: 20px;
  padding: 12px;
  text-align: center;
}

.special__price {
  color: #ffb84c;
  font-size: 24px;
  font-weight: bold;
}

@media (min-width: 480px) {
  .special {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}
@media (min-width: 768px) {
  .special {
    grid-template-columns: repeat(4, 1fr);
  }
}
.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 8px;
}

.menu {
  position: absolute;
  top: 82px;
  left: 0;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4e6c81;
  width: 100%;
  height: 0;
  overflow: hidden;
  border-radius: 12px;
  transition: height 0.5s linear;
}

@media (min-width: 768px) {
  .menu {
    position: static;
    flex-direction: row;
    background: none;
    width: 100%;
    height: auto;
  }
  .fire {
    display: none;
  }
}
.menu__link {
  color: #fff;
  padding: 8px 12px;
  text-decoration: none;
}

.menu__link--active,
.menu__link:hover {
  background-color: #a7727d;
  border-radius: 8px;
}

.fire {
  color: #ffb84c;
  font-size: 28px;
  margin-left: 12px;
  transform: rotate(90deg);
  cursor: pointer;
  transition: 0.3s;
}

.rotate {
  transform: rotate(180deg);
}

.show {
  height: 148px;
}

.social {
  display: flex;
  gap: 12px;
}

.social__link {
  text-decoration: none;
}

.social [class*=icon-] {
  background-color: #ffb84c;
  color: #4e6c81;
  font-size: 24px;
  padding: 8px 6px 0 8px;
  border-radius: 50%;
}

.team {
  background-color: #222;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 12px;
}

.team__title {
  color: #fff;
  font-size: 32px;
  padding: 12px;
  text-align: center;
}

.three__title {
  color: #ffb84c;
  font-size: 24px;
  margin-bottom: 24px;
  text-align: center;
}

.three__text {
  color: #fff;
  padding: 12px;
  text-align: center;
}

.three__text {
  line-height: 1.6;
}

@media (min-width: 576px) {
  .group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }
}/*# sourceMappingURL=custom.css.map */